body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    padding: 20px;
}

.box {
    width: 100%; /* 너비 조정 */
    margin: 20px;
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.post {
    margin-bottom: 15px;
    cursor: pointer;
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 양쪽 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    border-bottom: 1px solid #d9d9d9; /* 밑줄 추가 */
    padding-bottom: 10px; /* 아래 여백 추가 */
}

.post .date {
    font-size: 12px;
    color: #888;
    margin-left: 10px; /* 날짜와 제목 사이 여백 */
}

.post .content {
    color: black; /* 내용 색상 */
    font-weight: bold; /* 내용 볼드체 */
    flex-grow: 1; /* 내용이 남은 공간을 채우도록 설정 */
    margin-right: 10px; /* 오른쪽 여백 */
}

.post .author {
    font-size: 12px; /* 작성자 글자 크기 */
    color: #555; /* 작성자 색상 */
    margin-left: 10px; /* 날짜와 작성자 사이 여백 추가 */
}

.button-container {
    margin-top: 10px;
    text-align: right;
}

.button-container button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.postbtn {
    margin-bottom: 10px; /* 글쓰기 버튼과 목록 간의 여백 */
    text-align: right; /* 오른쪽 정렬 */
}

.postbtn button {
    padding: 10px 15px; /* 여백 조정 */
    font-size: 10px; /* 글자 크기 조정 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 5px; /* 둥근 모서리 */
    background-color: #007bff; /* 배경 색상 */
    color: white; /* 글자 색상 */
    cursor: pointer; /* 커서 모양 변경 */
}
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    padding: 10px 15px;
    border: 1px solid #007BFF;
    background-color: #ccc; /* 기본 배경색: 회색 */
    cursor: pointer;
    border-radius: 5px;
}

.pagination button.active {
    background-color: #007BFF; /* 활성화된 버튼: 파란색 */
}

.pagination button:hover {
    background-color: #0056b3; /* 호버 시 색상 */
}