/* 기본 세팅 */
body {


    margin: 0; padding: 0; box-sizing: border-box; font-family: 'Apple SD Gothic Neo'; list-style: none;
    height: 900px;
       
    border: 3px solid #007bff;
    }



    #whole2 {




        display: flex;
    }

    .perform {





        padding: 10px;
        }

        


      /* 전체 차트의 부모요소 */  
#chartset {


margin: 15%;
margin-top: -1%;
/* margin-right: 50%; */
    /* display: flex; */
}



/* select 박스의 부모요소 */  
#indi {

    border: 1px red solid;
    padding: 2%;
    width: 45%;
    height: 20%;

}

#indi2 {


   
    border: 1px red solid;
    height: 100%;
    width: 50%;
}

#indi3 {

    border: 1px red solid;
   
}













#Pie {
    
padding: 3%;
margin-left: -2%;
/* display: none; */
margin-top: -4%;
width: 10%;

}

.Pie {

margin-left: 20%;
/* width: 100%; */

}





#doughnut {
    
    padding: 3%;
    /* background-color: lightgray; */
    /* margin-left: 1%;
    margin-top: -4%; */
   
}

#doughnut2 {
    
 
    margin-left: 3%;
}

#doughnut3 {
    
    margin-left: 3%;
   
}





/* select `1의 부모요소 */  
#sel {
    width: 40%;
    /* margin-bottom: 150%; */
    padding: 1%;
}

/* select `2의 부모요소 */ 
#day {
    padding: 1%;
    
}

/* select `3의 부모요소 */ 
#reData {
    padding: 1%;
    margin-left: 2%;
}







/* line차트의 부모요소 */ 
#mcset {

    display: none;
}

#mcset2 {

    display: none;
}

/* #setting {

     
    display: none;

} */




/* Pie chart의 부모요소 */ 
#piewhole {
    /* border: 1px red solid; */
    margin-top: 5%; 
    width: 100%;  
   

}


/* #piesets {

    display: none;
} */


#pieset {

    display: none;
}

#pieset2 {

    
    display: none;
}

#pieset3 {

    display: none;
}

#pieset4 {

    display: none;
}







/* doughnut 차트의 부모요소 */ 


#doughset {

    
    display: none;
}

#doughsets {
    

    
    display: none;
}


#doughset2 {

    display: none;
}

