/* 주로 navigation이나 footer 등의 모든 영역에서 만약 나중에 봇 등에 css가 필요하다면 여기에! */

nav{
    width: 15%; height: 100vh; background-color: #999999;
}

.index{
    width: 100%; height: 100vh; display: flex; 
}

iframe{
    width: 100%; height: 90%; background-color: black;
}

.gnb-bar{
    width: 85%; height: 100%; background-color: #888888;
}

.local-bar{
width: 100%; height: 10%;
}