.new-workorder{
    width: 80%; margin: 0 auto; margin-top: 50px;
}
/* 작성주 위치 CSS */
.menufacturer-info{
    width: 100%; height: 80px; display: flex; flex-wrap: wrap;
}
.menufacturer-info-list{
    width: 50%; height: 40px; border: 1px solid #999999;
}
.menufacturer-info-name{
    width: 30%; height: 100%; color: #ffffff; background-color: #007bff; float: left; display: flex; justify-content: center;align-items: center;
}
.menufacturer-info-completion{
    width: 70%; height: 100%; float: right;  outline: none; text-align: center; border: 0;
}
 
/* 작성품목 위치 CSS */
.order-info-list{
display: flex; flex-direction: column;
}
.order-info-title{
    width: 100%; height: 40px; color: #ffffff; background-color: #007bff; border: 1px solid #999999; font-weight: 300; display: flex;  justify-content: space-around; align-items: center;
}
.order-info-title li{
    width: 100%; height: 100%; border-right: 1px solid #999999; display: flex; justify-content: center; align-items: center;
}
.order-info-content{
    width: 100%; height: 40px; border: 1px solid #999999; font-weight: 300; display: flex; justify-content: space-around; align-items: center; font-size: 12px;
}
.order-info-content td{
    width: 100%; height: 100%; border-right: 1px solid #999999; display: flex; justify-content: center; align-items: center;
}
.order-info-content-delete{
 color: #F44336; font-weight: 800; cursor: pointer;
}
/* 버튼 위치 CSS */

.order-buttonlayer{
    display: flex; float: right; margin-top: 20px;
}
.workorder-add, .workorder-registration, .workorder-delete, .workorder-cancel{
    width: 100px; height: 40px; background-color: #ffffff; margin-right: 10px; font-size: 18px; border: 0.5px solid #000000;
}
.workorder-registration{
    background-color: #4CAF50;
}
.workorder-delete{
    background-color: #F44336;
}