.workorder{
    width: 100%; height: 100vh; display: flex; flex-direction: column; justify-content: space-between; align-items: center;
}
/* 상단 레이어 */
.workorder-search-layer{
    width: 100%; height: 60px; background-color: #d9d9d9; display: flex; align-items: center; justify-content: center;
}

.workorder-search{
    width: 40%; height: 40px; margin-left: 1%;
}

.workorder-search-button{
    width: 100px; height: 40px; margin-left: 1%; font-size: 18px;color: #ffffff;background-color: #007bff; border: none;
}
/* 중단 레이어 */
.workorder-layer{
    width: 85%; height: 80%; 
}
.workorder-tag{
    width: 100%; height: 40px;  display: flex; justify-content: space-around;
}
.workorder-tag-productionCalculation, .workorder-tag-name{
    width: 10%; height: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #999999;
}
.workorder-tag-createDate, .workorder-tag-productionPeriod, .workorder-tag-MRPCalculation, .workorder-tag-productionPlan{
    width: 20%; height: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #999999;
}
.workorder-inquiry{
    width: 50px; height: 30px; margin-left: 5px;
}
/* 리스트 CSS */
.workorderlist-content{
    width: 100%; height: 80px;  display: flex; justify-content: space-around; background-color: #d9d9d9; text-align: center;
}
.workorderlist-productplancalc, .workorderlist-name{
    width: 10%; height: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #999999;
}
.workorderlist-createdate, .workorderlist-productplandate, .workorderlist-MRPcalc, .workorderlist-productplanstatus{
    width: 20%; height: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #999999;
}
.workorderlist-content a{
    color: #007bff;
}
.workorderlist-content2{
    width: 100%; height: 80px;  display: flex; justify-content: space-around; background-color: #d9d9d9; text-align: center;
}
/* 하단 레이어 */
.workorder-page{
    width: 85%; height: 50px; margin-bottom: 30px; padding: 0 10px; border: 2px solid #999999; display: flex; justify-content: space-between; align-items: center;
}

.workorder-pagenation{
    width: 60%; height: 40px; display: flex; justify-content: space-around; align-items: center;
}
.new-workorder-button{
    width: 100px; height: 40px; color: #ffffff; background-color: #007bff; border: none; font-size: 16px; letter-spacing: 1px;
}
