/* 기본 스타일 */
body {
  font-family: Arial, sans-serif;
}

.box {
  margin: 10px;
  border: 1px solid #007bff;
  /* 테두리 색상 */
  padding: 20px;
  /* 내부 여백 */
  border-radius: 5px;
  /* 모서리 둥글게 */
  background-color: #f8f9fa;
  /* 배경 색상 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
}

.item button {
  margin-left: 10px;
}

.item {
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
}

.container {
  display: flex;
  align-items: center;
  /* 수직 정렬 */
  justify-content: center;
  flex-wrap: wrap;

}

label {
  margin: 10px;
  /* 레이블 간 간격 */

}

select,
input {
  padding: 5px;
  /* 내부 여백 */
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.search {
  align-items: center;
  width: 100px;

}

.container label,
.container .item {
  margin-right: 10px;
  /* 요소 간 간격 추가 */
}

.container .item {
  display: flex;
  /* flexbox 사용 */
  align-items: center;
  /* 수직 정렬 */
}

.container .item button {
  padding: 10px 15px;
  /* 여백 조정 */
  font-size: 16px;
  /* 글자 크기 조정 */
  border: none;
  /* 기본 테두리 제거 */
  border-radius: 5px;
  /* 둥근 모서리 */
  background-color: #007bff;
  /* 배경 색상 */
  color: white;
  /* 글자 색상 */
  cursor: pointer;
  /* 커서 모양 변경 */
}

.container .item label {
  display: inline-block;
  margin-right: 10px;
}

.container select {
  font-size: 16px;
  /* 글자 크기 조정 */
  padding: 5px;
  /* 내부 여백 조정 */
  border-radius: 5px;
  /* 둥근 모서리 */
  border: 1px solid #007bff;
  /* 테두리 색상 */
  margin-left: 10px;
}

.container input[type="text"] {
  font-size: 16px;
  /* 글자 크기 조정 */
  padding: 10px 5px;
  /* 내부 여백 조정 */
  border-radius: 5px;
  /* 둥근 모서리 */
  border: 1px solid #007bff;
  /* 테두리 색상 */
  width: 100%;
  /* 가로 길이 조정 */
  box-sizing: border-box;
  /* 패딩과 테두리를 포함한 박스 모델 설정 */
}

.barcode-container {
  display: flex;
  /* flexbox 사용 */
  justify-content: flex-end;
  /* 오른쪽 끝으로 정렬 */
  margin-top: 10px;
  /* 위쪽 여백 추가 */
  margin-right: 30px;
  margin-bottom: 15px;
}

table {
  width: 98%;
  /* 테이블 너비 98% */
  border-collapse: collapse;
  /* 경계선 겹침 방지 */
  margin: 5px auto;

  /* table-layout: fixed; */
}

.itemlist th:nth-child(5),
/* "단위" 열의 헤더 */
.itemlist td:nth-child(5) {
  /* "단위" 열의 데이터 셀 */
  width: 50px;
  /* 원하는 너비로 설정 */

}

th,
td {

  border: 1px solid #15579e;
  /* 테두리 색상 */
  padding: 5px;
  /* 내부 여백 */
  text-align: center;
  /* 텍스트 중앙 정렬 */
  height: 50px;
  /* 원하는 높이로 설정 */
}

th {
  background-color: #007bff;
  /* 헤더 배경색 */
  color: white;
  /* 헤더 글자색 */
}

.list button,
#del {
  padding: 5px 10px;
  border: 1px solid #007BFF;
  background-color: #ccc;
  border-radius: 5px;
}

.listhead {
  text-align: right;
  margin-right: 15px;
}

.listhead2 {
  margin-top: 50px;
}

.popup {
  display: none;
  position: fixed;
  /* 고정 위치 */
  z-index: 1;
  /* 가장 위에 나타나도록 */
  left: 0;
  top: 0;
  width: 100%;
  /* 전체 화면 */
  height: 100%;
  /* 전체 화면 */
  background-color: rgba(0, 0, 0, 0.5);
  /* 반투명 배경 */
}

.popup-content {
  background-color: #fefefe;
  position: absolute;
  /* 위치를 절대적으로 설정 */
  top: 50%;
  /* 화면의 세로 중앙 */
  left: 50%;
  /* 화면의 가로 중앙 */
  transform: translate(-50%, -50%);
  /* 중앙 정렬 */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

h2 {
  margin-bottom: 20px;
}

.addbtn button {
  padding: 5px 10px;
  border: 1px solid #007BFF;
  margin-top: 20px;
  border-radius: 5px;
  width: 30%;
}

.addbtn {
  text-align: center;
}

#adddate {
  padding: 5px;
  width: 100%;
}

input[type="text"],
input[type="date"] {
  width: 90%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.addtable {
  border-collapse: collapse;
  /* 경계선 겹침 방지 */
  font-size: 20px;
}

.addtable th,
.addtable td {
  height: 70px;
  /* 각 셀의 높이 설정 */
  vertical-align: middle;
  /* 세로 정렬 */
  padding: 10px;
  /* 여백 추가 */
}

/* 팝업창 input 폰트사이즈 */
.popInput {
  font-size: 20px;
}

.unit-container {
  display: flex;
  align-items: center;
}

/* 단위 입력칸 스타일 */
.unit-input {
  width: calc(70% - 10px);
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 5px;
}

/* 드롭다운 스타일 */
.unit-dropdown {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.itemtype {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

table,
th,
td {
  box-sizing: border-box;
}

#page-container {
  text-align: center;
}

.bold {
  font-weight: 900;
}

.hide {
  display: none;
}

.searchDateBox {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 15px
}
#addinven:hover{
  cursor: pointer;
}


@media (max-width: 768px) {
  #addinven:hover{
    cursor: pointer;
  }
  
  .hide {
    display: none;
  }

  .container {
    flex-direction: column;
    /* 세로 방향으로 정렬 */
    align-items: center;
    /* 중앙 정렬 */
  }

  .container input[type="text"],
  .container select {
    width: 100%;
    /* 전체 너비로 설정 */
    margin-bottom: 10px;
    /* 아래 여백 추가 */
  }

  .box {
    padding: 15px;
  }

  .item {
    /* display: block;
      margin-bottom: 15px; */
    width: 100%;
    justify-content: center;
  }

  select,
  input {
    width: 100%;
    /* 전체 너비 사용 */
    max-width: 300px;
    /* 최대 너비 제한 */
  }

  #page-container {
    text-align: center;
  }

  .bold {
    font-weight: 900;
  }

}