/* 怨듭��궗�빆 CSS */

.mainpage{
    width: 100%; height: 100vh;
}
.noticelayer{
    width: 100%; height: 25%;  padding: 0 20px; display: flex; flex-direction: column; justify-content: center;
}
.noticelayer-title{
    width: 100%; display: flex; justify-content: space-between; align-items: center;
}
.notice{
    width: 100% ; height: 70%; border-top: 2px solid #007bff; display: flex; flex-direction: column; justify-content: space-around; align-items: center;
}
.notice-latestlist{
    width: 100%; height: 60%; padding: 10px 14px; margin-top: 10px;background-color: #ffffff; border-radius: 10px; font-size: 16px; display: flex; flex-direction: column; justify-content: space-between;
}
.notice-latestlist a{
 font-size: 24px; color: #000000;
}

.notice-latestlist div a{
    font-size: 18px; color: #000000;
}

/* �럹�씠吏��뱾 �깭洹� CSS */
.tagtitlecontainer{
    width: 100%; height: 75%; padding: 0 20px;display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;
}
.taglayer{
    width: 45%; height: 50%; display: flex; flex-direction: column; justify-content: center;align-items: center;
}
.noticelayer h2, .taglayer h2{
    float: left; align-self: start; 
}
 .taglayer a{
align-self: end; 
}
.taglist{
    width: 100%; height: 70%;  border-top: 2px solid #007bff; display: flex; flex-direction: column; justify-content: space-around;
}

.taglist li{
    margin-top: 15px; display: flex; align-items: center; justify-content: space-between; font-size: 14px;
}
.taglist li a{
    width: 70%;
}
.taglist li div{
     width: 30%; color: #555555; text-align: end;
}
.Notice-more{
    display: flex; align-items: end;
}


