* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* 모바일 */
@media screen and (max-width: 767px) {
  .warrap {
    width: 100%;
    /* padding: 10px; */
  }

  .wkr {
    border: 1px solid rgb(199, 196, 196);
    background-color: #d9d9d9;
    color: white;
  }

  .wkrTop {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
  }

  .wkrwl {
    border: 1px solid rgb(199, 196, 196);
    border-radius: 3px;
    padding: 3px;
    height: 100%;
    font-size: 18px;
    width: 130px;
    text-align: center;
    margin: 8px;
  }

  .btn1 {
    font-size: 15px;
    padding: 3px;
    margin-right: 15px;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
  }

  .wkrView {
    border: 1px solid rgb(199, 196, 196);
    height: 100%;
    overflow-y: scroll;
    margin: 0 10px;
    background-color: white;
    color: black;
  }

  .bord {
    border: 1px solid rgb(199, 196, 196);
    /* display: flex; */
    padding: 15px;
    /* justify-content: space-around; */
    /* margin-top: 10px; */
    background-color: #d9d9d9;
    color: white;
  }

  .inBord {
    border: 1px solid rgb(199, 196, 196);
    /* text-align: center; */
    width: 80%;
    text-align: center;
    /* display: inline-block; */
    background-color: #63adfc;
    color: white;
    border: 1px solid #0056b3;
    border-radius: 15px;
    margin: 5px auto;
  }

  .inBord>div {
    min-width: 100%;
    margin: 10px 0 10px 0;
  }

  .box2 {
    /* display: flex; */
    /* height: 230px; */
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
    background-color: #d9d9d9;
    color: black;
  }

  .left {
    width: 100%;
    border: 1px solid rgb(199, 196, 196);
    margin-right: 5px;
    padding: 5px;
  }

  .wp {
    font-size: 15px;
    border: 1px solid rgb(199, 196, 196);
    width: 30%;
    text-align: center;
    /* margin: 8px; */
    font-size: 20px;
    justify-content: center;
  }

  .btn2B {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .btn2 {
    width: 80%;
    height: 100px;
    font-size: 25px;
  }

  .right {
    width: 100%;
    /* margin-left: 5px; */
    padding: 8px;
    border: 1px solid rgb(199, 196, 196);
  }

  .rightTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
  }

  .wp2 {
    border: 1px solid rgb(199, 196, 196);
    width: 100%;
    font-size: 20px;
    text-align: center;
    flex-grow: 0.8;
  }

  .insert {
    margin-top: 8px;
    display: flex;
  }
  .inputT {
    width: 100%;
  }

  .textBox {
    font-size: 13px;
    width: 90%;
    height: 90px;
  }

  .btn3 {
    width: 60px;
    height: 40px;
    font-size: 13px;
    padding: 3px;
    vertical-align: top;
  }

  .box3 {
    align-items: center;
    background-color: #d9d9d9;
    color: black;
  }

  .box3Top {
    /* display: flex; */
    /* justify-content: space-around; */
    padding: 5px;
    font-size: 15px;
  }

  .box3Top>div {
    margin: 3px;
  }

  .wp3 {
    width: 180px;
    font-size: 18px;
  }

  .date2 {
    font-size: 16px;
  }

  .indate1,
  .indate2 {
    font-size: 12px;
  }


  .box3View {
    border: 1px solid rgb(199, 196, 196);
    margin: 10px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    color: black;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination>button {
    width: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  .dropBox {
    width: 180px;
    font-size: 15px;
    margin-top: 8px;
  }

  .dropBox2 {
    font-size: 13px;
  }

  .btn4 {
    width: 50px;
    font-size: 15px;
    vertical-align: top;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }

  .wkrwl,
  .wp,
  .wp2 {
    background-color: aliceblue;
    color: black;
  }

  .indexsss {
    display: flex;
    justify-content: space-around;
    width: 98%;
    margin: auto;
    font-size: 13px;

  }

  .indexsss>div {
    width: 100%;
    text-align: center;
  }

  .hide {
    display: none;
  }

  .dex {
    border: 1px solid #c2c2c2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
  }

  .dex>div {
    text-align: center;
    width: 100%;
    overflow: hidden;
    border: 1px solid #d9d9d9;
  }

  /* 모달 전체 배경 스타일 */
  .modal {
    display: none;
    /* 기본적으로 숨김 */
    position: fixed;
    /* 화면 전체에 고정 */
    z-index: 1000;
    /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 검정 배경 */
  }

  /* 모달 콘텐츠 영역 스타일 */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    /* 화면 중앙에 위치 (위쪽 여백 15%) */
    padding: 12px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    position: relative;
    text-align: center;
  }

  /* 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
  }
  
  .kk{
    width: 100%;
    display: flex;
    flex-grow: 1;
  }
  .kk>div{
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  #indexsss>div{
    background-color: #c7c7c7;
  }
  #indexsss>div>div{
    border: 1px solid;
  }

  .viewSelect{
    background-color: #f5ebeb;
  }
  .performance-card{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
  }
  .performance-card > div{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  .page-container{
    text-align: center;
  }
  .page-container > button{
    font-size: 14px;
    margin : 3px;
    padding: 3px;
  }

  .qualList-card{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
  }
  .qualList-card > div{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  .pageNationQuality{
    text-align: center;
  }
  .pageNationQuality > button{
    font-size: 14px;
    margin : 3px;
    padding: 3px;
  }
}


/* 데탑 */
@media screen and (min-width:768px) {
  .qualList-card{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
  }
  .qualList-card > div{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  .pageNationQuality{
    text-align: center;
  }
  .pageNationQuality > button{
    font-size: 14px;
    margin : 3px;
    padding: 3px;
  }

  .performance-card{
    display: flex;
    justify-content: space-around;
    border: 1px solid gray;
    margin: 1px;
    padding: 5px;
  }
  .performance-card > div{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  .page-container{
    text-align: center;
  }
  .page-container > button{
    font-size: 14px;
    padding: 3px;
    margin : 3px;
  }

  .viewSelect{
    background-color: #7a7a7a;
  }
  .kk{
    width: 100%;
    display: flex;
    flex-grow: 1;
  }
  .kk>div{
    width: 70%;
    flex-grow: 1;
    border: 1px solid #d9d9d9;
    text-align: center;
  }
  #indexsss>div{
    background-color: #c7c7c7;
  }
  #indexsss>div>div{
    border: 1px solid;
  }

  .warrap {
    width: 100%;
    /* padding: 10px; */
  }

  .wkr {
    border: 1px solid rgb(199, 196, 196);
    background-color: #d9d9d9;
    color: black;
  }

  .wkrTop {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
  }

  .wkrwl {
    border: 1px solid rgb(199, 196, 196);
    border-radius: 3px;
    padding: 3px;
    height: 100%;
    font-size: 18px;
    width: 130px;
    text-align: center;
    margin: 8px;
  }

  .btn1 {
    font-size: 15px;
    padding: 3px;
    margin-right: 15px;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 5px;
  }

  .wkrView {
    border: 1px solid rgb(199, 196, 196);
    height: 100%;
    overflow-y: scroll;
    margin: 0 10px;
    background-color: white;
    color: black;
  }

  .bord {
    border: 1px solid rgb(199, 196, 196);
    display: flex;
    padding: 15px;
    justify-content: space-around;
    /* margin-top: 10px; */
    background-color: #d9d9d9;
    color: white;
  }

  .inBord {
    border: 1px solid rgb(199, 196, 196);
    width: 400px;
    text-align: center;
    display: inline-block;
    background-color: #63adfc;
    color: white;
    border: 1px solid #0056b3;
    border-radius: 15px;
  }

  .inBord>div {
    min-width: 100%;
    margin: 10px 0 10px 0;
  }

  .box2 {
    display: flex;
    height: 100%;
    border: 1px solid rgb(199, 196, 196);
    padding: 10px;
    background-color: #d9d9d9;
    color: black;
  }

  .left {
    width: 50%;
    border: 1px solid rgb(199, 196, 196);
    margin-right: 5px;
    padding: 5px;
  }

  .wp {
    font-size: 15px;
    border: 1px solid rgb(199, 196, 196);
    width: 30%;
    text-align: center;
    /* margin: 8px; */
    font-size: 20px;
    justify-content: center;
  }

  .btn2B {
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .btn2 {
    width: 85%;
    height: 130px;
    font-size: 25px;
  }

  .right {
    width: 50%;
    margin-left: 5px;
    padding: 5px;
    border: 1px solid rgb(199, 196, 196);
  }

  .rightTop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 8px;
  }

  .wp2 {
    border: 1px solid rgb(199, 196, 196);
    width: 100%;
    font-size: 20px;
    text-align: center;
    flex-grow: 0.8;
  }

  .insert {
    margin-top: 8px;
  }

  .textBox {
    font-size: 13px;
    width: 80%;

  }

  .btn3 {
    width: 60px;
    font-size: 13px;
    padding: 3px;
    vertical-align: top;
  }

  .box3 {
    align-items: center;
    background-color: #d9d9d9;
    color: black;
  }

  .box3Top {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 15px;
  }

  .wp3 {
    width: 180px;
    font-size: 18px;
  }

  .date2 {
    font-size: 16px;
  }

  .indate1,
  .indate2 {
    font-size: 15px;
  }

  .inputT {
    width: 100%;
  }

  .box3View {
    border: 1px solid rgb(199, 196, 196);
    margin: 10px;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    color: black;
  }
  .pagination {
    display: flex;
    justify-content: center;
  }

  .pagination>button {
    width: 20px;
    padding: 5px;
    font-size: 15px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }

  .dropBox {
    display: flex;
    width: 50%;
    font-size: 15px;
    margin-top: 8px;
    align-items: center;
  }

  .dropBox2 {
    font-size: 13px;
  }

  .btn4 {
    width: 50px;
    font-size: 15px;
    vertical-align: top;
  }

  .btn1,
  .btn2,
  .btn3,
  .btn4 {
    cursor: pointer;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
  }

  .wkrwl,
  .wp,
  .wp2 {
    background-color: white;
    color: black;
  }

  .dede {
    width: 97%;
  }

  .indexsss {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .indexsss>div {
    width: 100%;
    text-align: center;
  }

  .hide {
    display: none;
  }

  .dex {
    border: 1px solid #c2c2c2;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 5px;
  }

  .dex>div {
    text-align: center;
    width: 100%;
    overflow: hidden;
    border: 1px solid #d9d9d9;
  }

  .BB {
    display: flex;
    align-items: center;
  }

  .BB2 {
    margin: 3px;
  }

  /* 모달 전체 배경 스타일 */
  .modal {
    display: none;
    /* 기본적으로 숨김 */
    position: fixed;
    /* 화면 전체에 고정 */
    z-index: 1000;
    /* 다른 요소보다 위에 위치 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 검정 배경 */
  }

  /* 모달 콘텐츠 영역 스타일 */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    /* 화면 중앙에 위치 (위쪽 여백 15%) */
    padding: 12px;
    border: 1px solid #888;
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    position: relative;
    text-align: center;
  }

  /* 닫기 버튼 스타일 */
  .close {
    color: #aaa;
    position: absolute;
    top: 25px;
    right: 40px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: #000;
  }
  .myInput{
    width: 50px;
    height: 18px;
    font-size: 15px;
    
  }

}

@media screen and (max-width : 1070px) {
  .box3Top {
    display: block;
  }
}